<section>
    <div class="container1">
        <div class="container-image">
            <img src="../assets/images/tree.png" alt="" data-aos="fade-down" >
        </div>
        <div class="container-content">
            <h1>sneha</h1>
            <p data-aos="flip-right"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, magnam ab. Explicabo doloremque pariatur consequuntur numquam, nesciunt deleniti eos laborum asperiores tenetur! Id non cupiditate incidunt quos, debitis unde aliquam?</p>
            <a href=""></a>
        </div>
    </div>
</section>